.header{
    background-color: thistle;
    vertical-align: center;
    text-align: center;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    color:   rebeccapurple;
  }
.about{
    background-color: whitesmoke;
}
